snippet note "Note in quote block"
  > ℹ️ **Note:** 

snippet hyperlink
  [${1:title}](${2:link})

snippet codeblock "Code block"
  \`\`\`${1:language}
  $0
  \`\`\`

snippet img "Embedded image"
  ![${1:title}](${2:image})
