snippet boilerplate "Ben's Python boilerplate"
  # Imports
  import contextlib
  $0

  # GLOBAL Variables


  # Functions


  # Main Logic
  if __name__ == "__main__":
    with contextlib.suppress(KeyboardInterrupt):

snippet keyboardinterrupt "Suppress keyboard interrupt"
  with contextlib.suppress(KeyboardInterrupt):
    $0
  

snippet ifname "If name main"
  if __name__ == "__main__":
    $0
